*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    line-height: 1.6;
    color: #080505;
}
header {
    background-color: #66e0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 1000;
    top: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    max-width: 1200px ;
    margin: 0% auto;
}

.logo h1{
    color: rgb(57, 101, 102);
    font-size: 29px ;
}
.nav-links{
     display: flex;
    list-style: none;
    gap: 32px;
}
.nav-links a{
    color: rgb(62, 89, 102);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-links a:hover{
    color: rgb(0, 0, 0);
}
.hero{
    background: linear-gradient(rgba(66, 80, 85, 0.5),rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1571043490388-1f5623451671?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDMyfHx8ZW58MHx8fHx8")center/cover;
 height:800px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: rgb(255, 255, 255);
}
.hero-content h2{
    font-size: 48px;
}
.hero-content p{
    font-size: 24px ;
    margin-bottom: 32px;
}
.cta-button{
    background-color: #42868f;
    padding: 16px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}
.cta-button:hover{
    background-color: #77d3d6;
}
.contenido-section{
   background-color :rgb(7, 197, 197);
     padding: 64px 5%;  
}
.contenido-container{
 max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:32px;    
}
.con1-card{
   background-color: rgb(16, 241, 204);
    padding: 32px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(18, 1,1 ,0.1); 
    color: rgb(12, 104, 107);
}
.con2-card{
    background-color: rgb(223, 164, 146);
    padding: 32px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(18, 1,1 ,0.1);
    color: rgb(62, 89, 90); 
}
.con3-card{
  background-color: rgba(97, 201, 114, 0.774);
    padding: 32px;
    border-radius: 10px;
    text-align: center ;
    box-shadow: 0 5px 25px rgba(18, 1,1 ,0.1); 
    color: rgb(62, 89, 90);   
}
  
.selec{
    background-color: #66e0f0;;
     height:500px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.selec-content h2{
     font-size: 48px;
    margin-bottom: 16px;
    color: rgb(48, 75, 77);
}
.selec-content p{
   font-size: 24px ;
    margin-bottom: 32px; 
    color: rgb(48, 75, 77);
}
.selec-button{
    background-color:rgb(17, 188, 201);
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: rgb(243, 241, 247);
}
.selec-button:hover{
    background-color: #075f75;
}
.productos-section{
    padding: 64px;
    max-width: 1200px;
    margin: 0 auto; 
}
.section-title{
     text-align: center;
    font-size: 40px;
    margin-bottom: 48px;
    color: #076470;
}
.productos-grid{
     display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 60px;
}
.productos-card{
    background-color: rgb(248, 246, 246);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(15, 15, 15, 0.1);
    transition: transform 0.5s; 
}
.productos-card:hover{
   transform: translate(-10px);
    box-shadow: 0 10px rgba(20, 225, 252, 0.2); 
}
.productos-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card-content{
     padding: 24px;
    text-align: center;
}
.card-content h3{
margin-bottom: 8px;
font-size: 24px;
}
.card-content p{
   color: #111111;
    margin-bottom: 16px; 
}
.precio{
   display: block;
    font-size: 25px;
    font-weight: bold;
    color: #0c0a0c;
    margin-bottom: 16px;  
}
.order-btn{
   width: 100%;
    padding: 12px;
    background-color: #219b91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
    
}
.order-btn:hover{
    background-color: #0c474e;
    padding: 12px 5%; 
}
.productos-section{
     background-color :#dad6ed;
     padding: 64px 5%;
}
.productos-card{
    background-color: rgb(163, 240, 243);
    padding: 32px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(18, 1,1 ,0.1);
}
.productos-card h3{
    color: #0a859b;
    font-size: 24px;
    margin-bottom: 16px;
}
.productos-card p{
     text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.footer-section h3{
    color: #24dbf3;
    margin-bottom: 16px;
    text-align: center;
}
.footer-section p{
    margin-bottom: 12px;
    text-align: center;

}
.footer-bottom{
    text-align: center;
    padding-top: 32px;
    border-top: 1px solid #36cce7;
}
/*RESPONSIVE*/
/*Pantallas menores a 768px */
@media(max-widht:768px){
    .nav-links{
        gap: 1rem;
        font-size: 0.9rem;
    }
    .hero-content h2{
        font-size: 2rem;
    }
    .hero-content p{
        font-size: 2rem;
    }
}
/*Pantallas menores a 992px*/
@media (max-widht:992px){
    .navbar{
        padding: 1rem 3%;
    }
    .menu-grid,.promo-container{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap: 1.5rem;
    }
    .hero{
        min-height: 350px;
    }
    .menu-section,.promo-section{
        padding: 3rem 3%;
    }
   
}
 @media (max-width:768px){
    .navbar{
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
    .logo h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .nav-links{
        gap: 1rem;
        font-size: 0.9rem;
        justify-content: center;
    }
    .hero{
        min-height: 300px;
        padding: 1.5rem;
    }
    .menu-grid,.promotion-container{
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .menu-card img{
        height: 200px;
    }
    .card-content,.promo-card{
        padding: 1.25rem;
    }
    .menu-section,.promo-section{
        padding: 2.5rem 4%;
    }
    .section-title{
        margin-bottom: 2rem 4%;
    }
    footer{
        padding: 2rem 4%;
    }
    .footer-content{
        gap: 1.5rem;
    }
 }
footer{
    background-color: #0a526e;;
    color: white;
    padding: 48px 5%;
}
.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 32px;
    margin-bottom: 32px; 
}
.footer-section h3{
    color: #79dcf5;
    margin-bottom: 16px;
    text-align: center;
}
.footer-section p{
    margin-bottom: 12px;
    text-align: center;
}
.footer-buttom{
      text-align: center;
    padding-top: 32px;
    border-top: 1px solid #0bd9f4;
}
